extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rohald van Merode
        p.lead.text-light Full Stack JavaScript Developer.
        .portfolio-bio
          p I'm currently a full time warehouse supervisor working for a large European electronics retailer. In every bit of spare time I've got I'm working towards my goal of becomming a Full Stack Developer. I've graduated from the Front End Techdegree over at Team Treehouse a few months ago and am currently progressing through the Full Stack Techdegree. You can find my contact information on the right side of this page so feel free to connect with me!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express 
        h6 Contact Info

        ul
          li +31 6123 456 7890
          li rohald_89@me.com

        a.button.expanded(href='https://www.linkedin.com/in/rohald89/' target='blank') LinkedIn
        a.button.expanded(href='https://github.com/rohald89' target='blank') GitHub
        a.button.expanded(href='https://twitter.com/rohaldc' target='blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  