extends layout.pug

block content

  .grid-x
    cell.small-6.medium-9.large-9
      h1= err.message
      h2= err.status
      p.lead.text-light Please try again, if the problem persists contact the administrator.
      a(href='/') â† Back to the home page